<!DOCTYPE html>
<html>

   <head>
      <title>Timestamp Microservice Project | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
      <script type="text/javascript" src="date.js"></script>
   </head>

   <body>
      <div class="container">
         <h1></h1>
         <h3>Part 1 of Free Code Camp Backend Challenges</h3>
        <p>
          This simple API returns both Human Readable date and the UNIX Epoch time, 
          when it is sent a date in one of those formats. Example:
        </p>
      </div>
     <div class="results">
       
     </div>
   </body>

</html>
